<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="api/src/config/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         backupGlobals="false">
    <testsuites>
        <testsuite name="AllTests">
            <directory>core/tests</directory>
        </testsuite>
        <testsuite name="ApiTest">
            <directory>api/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>