section.editor
  h2.title
    @extend .trade-gothic-20
    color: $secondary-color
    font-size: 3rem

  div.canvas-container
    margin: auto
    canvas.canvas-paper-a4
      border: 1px solid #0c0c0c

  div.editor-tools
    label
      line-height: 34px
      font-size: 1.8rem
    button
      margin: 1rem 0

    .add-button
      width: 100%
      font-size: 2rem
      @extend .futura-medium

    button.#add-text
      margin-top: 0
      background-color: $primary-color
    button.#add-image
      background-color: $secondary-color

    div.canvas-tools
      label
        color: $primary-color

    div.text-tools
      label
        color: $secondary-color