section.editor
  h2.title
    @extend .trade-gothic-20
    color: $secondary-color
    font-size: 3rem

  div.canvas-container
    canvas.canvas-paper-a4
      border: 1px solid #0c0c0c

  div.editor-tools
    button
      margin: 1rem 0

    .add-button
      width: 100%
      font-size: 2rem
      @extend .futura-medium

    #add-text
      background-color: $primary-color
    #add-image
      background-color: $secondary-color
